html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

.pictureBox {
	width: 400px;
	height: 200px;
	background-image: url("../img/1406965068.jpg");
	background-size: cover;
	position: absolute;
}