.icon-trip {
  width: 56px;
  height: 40px;
  background-image: url("../img/icons/icon-trip.png");
  display: inline-block;
}

.icon-gps {
  width: 21px;
  height: 38px;
  background-image: url("../img/icons/icon-gps.png");
  display: inline-block;
}

.icon-waze {
  width: 129px;
  height: 38px;
  background-image: url("../img/icons/icon-waze.png");
  display: inline-block;
}
